@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* General Styling Start */
:root {
  --black-color: #1a1a1a;
  --font-family: "Roboto", sans-serif;
  --white-color: #fff;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

/* General Styling End */

/* Navbar Start */
.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0.5rem 2rem !important;
}

.navbar-link .navbar-anchor,
.navbar-anchor {
  font-family: var(--font-family) !important;
  color: var(--black-color) !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  cursor: pointer;
}

.home-logo {
  color: var(--black-color) !important;
}

a.nav-link.navbar-anchor.active {
  font-weight: 500 !important;
}

a.navbar-brand {
  font-weight: 200 !important;
}
/* Navbar End */

/* About Us Image and Text start */
.section-parent {
  display: flex;
}

.section-left-half,
.section-right-half {
  width: 50vw;
  height: 100vh;
}

.section-left-half {
  padding: 48px;
}

.section-right-half {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-bg-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.section-caption {
  position: absolute;
  bottom: 10%;
  left: 9%;
  color: var(--black-color) !important;
}

.section-caption p {
  font-weight: 600 !important;
  text-transform: uppercase;
  font-size: 119.895px !important;
  font-family: "Roboto", sans-serif !important;
  line-height: 0.85;
}

/* About Us Image and Text end */

/* Carousel Start */

.carousel.slide {
  margin-top: -9.4rem !important;
}

.carousel-item {
  margin-top: 0rem !important;
}

.carousel-item-text {
  width: 672px;
  margin: auto;
  font-family: "Poppins", sans-serif !important;
  margin-top: 2rem;
  font-weight: 300;
  font-size: 15px;
}

.carousel-item-title {
  margin-left: 20px;
}

.carousel-item-title h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  font-weight: 600;
}

.carousel-item-title h3 {
  font-weight: 300;
  font-size: 15px;
  font-family: "Poppins", sans-serif !important;
}

.carousel-item img {
  /* width: 22%; */
  margin: 0 auto;
  width: 60vw;
  height: 65vh;
  margin: 0 auto;
}

.carousel-item .caption {
  text-align: end;
  font-weight: 700 !important;
  margin-right: 20px;
  font-size: 29.985px;
  text-transform: uppercase;
}

.carousel-indicators {
  bottom: 20% !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 3rem;
  font-weight: lighter !important;
  bottom: 23% !important;
  color: var(--black-color) !important;
}
.carousel-control-prev {
  left: 4%;
}
.carousel-control-next {
  right: 7%;
}

.carousel-control-prev-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon svg,
.carousel-control-next-icon svg {
  color: black !important;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background: gold !important;
  box-sizing: border-box !important;
  border: none !important;
}

span.carousel-control-prev-icon,
span.carousel-control-next-icon {
  display: none !important;
}

/* Carousel End */

/* tablet screen start */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar-nav {
    white-space: nowrap;
  }
  .navbar-toggler {
    border: none;
    font-family: var(--font-family) !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    margin: auto;
    color: var(--black-color) !important;
    box-shadow: none !important;
  }
  .width-10 {
    width: 10%;
  }

  .width-70 {
    width: 40%;
  }

  .language-button {
    position: sticky;
    right: 2rem;
    top: 15px;
  }

  .section-parent {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .section-left-half {
    width: 100%;
    margin: auto;
    height: 40vh;
    display: block;
    margin-top: 3rem;
  }

  .section-caption p {
    font-size: 4rem !important;
    line-height: 70px;
  }

  .section-right-half {
    width: 100%;
    display: block;
  }

  .carousel-item img {
    height: 55vh;
  }
  .carousel-indicators {
    bottom: 30.5% !important;
    margin: 0 auto;
    width: 80%;
  }

  .carousel-inner {
    margin-top: 12rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    bottom: 20% !important;
  }

  .carousel-item-text {
    margin-top: 6rem !important;
  }

  .carousel-item-text p {
    width: 100%;
    margin-left: 1rem !important;
    margin: 0 auto;
  }
}

/* mobile screen start */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar-toggler {
    border: none;
    font-family: var(--font-family) !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    margin: auto;
    color: var(--black-color) !important;
    box-shadow: none !important;
  }
  .width-10 {
    width: 10%;
  }

  .width-70 {
    width: 40%;
  }

  .language-button {
    position: sticky;
    right: 2rem;
    top: 15px;
  }
  .section-parent {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .section-left-half {
    width: 100%;
    margin: auto;
    height: 40vh;
    display: block;
    margin-top: 10rem;
  }

  .section-caption p {
    font-size: 4rem !important;
    line-height: 55px;
  }

  .section-right-half {
    width: 100%;
    display: block;
  }

  .carousel-item img {
    height: 35vh;
  }
  .carousel-indicators {
    bottom: 49.5% !important;
    margin: 0 auto;
    width: 80%;
  }

  .carousel-inner {
    margin-top: 12rem;
  }

  .carousel-control-next,
  .carousel-control-prev {
    bottom: 50% !important;
  }

  .carousel-item-text {
    margin-top: 6rem !important;
  }

  .carousel-item-text p {
    width: 60%;
    margin-left: 1rem !important;
    margin: 0 auto;
  }
}
