@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* General Styling Start */
:root {
  --black-color: #1a1a1a;
  --font-family: "Roboto", sans-serif;
  --white-color: #fff;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

/* General Styling End */

/* Navbar Start */
.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0.5rem 2rem !important;
}

.navbar-link .navbar-anchor,
.navbar-anchor {
  font-family: var(--font-family) !important;
  color: var(--black-color) !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  cursor: pointer;
}

.home-logo {
  color: var(--black-color) !important;
}

a.nav-link.navbar-anchor.active {
  font-weight: 500 !important;
}

a.navbar-brand {
  font-weight: 200 !important;
}
/* Navbar End */

/* Hero section START */

.hero-section {
  background-image: url("../images/geometrical.jpeg");
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

.hero-caption {
  position: absolute;
  bottom: 5%;
  color: var(--white-color) !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  font-size: 119.895px;
  font-family: "Roboto", sans-serif;
}

/* Hero section END */

/* geometrical section start */

.geometrical,
.puzzle {
  position: relative;
}

.geometrical-left-side,
.puzzle-left-side {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 37%;
}

.geometrical-left-side {
  left: -1%;
}

.puzzle-left-side {
  left: -5%;
}

.geometrical-left-side h2,
.puzzle-left-side h2 {
  text-align: right;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  font-size: 60px;
  color: var(--black-color);
  text-transform: uppercase;
  margin-bottom: 24px;
}

/* geometrical section end */

/* jewels section start */

.liberity {
  position: relative;
}

.liberity-right-side {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  width: 44%;
}

.liberity-right-side h2 {
  text-align: right;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  font-size: 60px;
  color: var(--black-color);
  text-transform: uppercase;
  margin-bottom: 24px;
}

/* jewels section end */
/* medi query screen start */
@media only screen and (max-width: 1199px) {
  .hamburger-two {
    white-space: nowrap;
    text-align: center;
    /* margin: 0px 1rem; */
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
/* tablet screen start */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar-toggler {
    border: none;
    font-family: var(--font-family) !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    margin: auto;
    color: var(--black-color) !important;
    box-shadow: none !important;
  }
  .col-md-6 {
    width: 100% !important;
  }

  .width-10 {
    width: 10%;
  }

  .width-70 {
    width: 40%;
  }

  .language-button {
    position: sticky;
    right: 2rem;
    top: 15px;
  }

  .hero-section-two {
    height: 50vh;
  }

  .hero-caption {
    font-size: 37.32px;
  }

  .my-flex-order {
    flex-direction: column-reverse;
  }

  .my-flex-order-2 {
    flex-direction: column;
  }

  .geometrical-left-side-two,
  .liberity-right-side,
  .puzzle-left-side,
  .oriental-right-side {
    position: static;
    top: 0%;
    transform: none;
    width: 100%;
    right: 0%;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .geometrical-left-side-two h2,
  .liberity-right-side h2,
  .puzzle-left-side h2,
  .oriental-right-side h2 {
    text-align: left;
    margin: 2rem 0px;
    font-size: 31.11px;
  }

  .geometrical-left-side-two p,
  .liberity-right-side p,
  .puzzle-left-side p,
  .oriental-right-side p {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    margin-left: 0px;
  }
}
/* Mobile screen  start */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar-toggler {
    border: none;
    font-family: var(--font-family) !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    margin: auto;
    color: var(--black-color) !important;
    box-shadow: none !important;
  }
  .width-10 {
    width: 10%;
  }

  .width-70 {
    width: 40%;
  }

  .language-button {
    position: sticky;
    right: 2rem;
    top: 15px;
  }

  .hero-section-two {
    height: 50vh;
  }

  .hero-caption {
    font-size: 37.32px;
  }

  .my-flex-order {
    flex-direction: column-reverse;
  }

  .my-flex-order-2 {
    flex-direction: column;
  }

  .geometrical-left-side-two,
  .liberity-right-side,
  .puzzle-left-side,
  .oriental-right-side {
    position: static;
    top: 0%;
    transform: none;
    width: 100%;
    right: 0%;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .geometrical-left-side-two h2,
  .liberity-right-side h2,
  .puzzle-left-side h2,
  .oriental-right-side h2 {
    text-align: left;
    margin: 2rem 0px;
    font-size: 31.11px;
  }

  .geometrical-left-side-two p,
  .liberity-right-side p,
  .puzzle-left-side p,
  .oriental-right-side p {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    margin-left: 0px;
  }
}
/* Mobile screen  end*/

/* media query end */
