@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* General Styling Start */
:root {
  --black-color: #1a1a1a;
  --font-family: "Roboto", sans-serif;
  --white-color: #fff;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

/* General Styling End */

/* Navbar Start */
.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 0.5rem 2rem !important;
}

.navbar-link .navbar-anchor,
.navbar-anchor {
  font-family: var(--font-family) !important;
  color: var(--black-color) !important;
  font-weight: 300 !important;
  font-size: 15px !important;
  cursor: pointer;
}

.home-logo {
  color: var(--black-color) !important;
}

a.nav-link.navbar-anchor.active {
  font-weight: 500 !important;
}

a.navbar-brand {
  font-weight: 200 !important;
}
/* Navbar End */

/* Card Section Start */

.cards-section {
  padding: 4rem 2rem;
}

.col:nth-child(2) {
  margin-top: -3.85%;
}

.col:nth-child(4) {
  padding-top: 4rem;
}

.card {
  border: none !important;
}

.card img {
  border-radius: 0 !important;
}

.card-body {
  padding: 0 !important;
}

h1.card-title {
  margin-top: 1.25rem;
  margin-bottom: 6px;
  font-size: 1.8rem;
  font-weight: 510;
  text-transform: uppercase;
  color: var(--black-color) !important;
  font-family: "Poppins", sans-serif !important;
}

p.card-text {
  font-size: 15px;
  width: 95%;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.1px !important;
  color: var(--black-color) !important;
  font-family: "Roboto", sans-serif !important;
}

/* Card Section End */

/* tablet screen start */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar-nav {
    white-space: nowrap;
  }
  .navbar-toggler {
    border: none;
    font-family: var(--font-family) !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    margin: auto;
    color: var(--black-color) !important;
    box-shadow: none !important;
  }
  .width-10 {
    width: 10%;
  }

  .width-70 {
    width: 40%;
  }

  .language-button {
    position: sticky;
    right: 2rem;
    top: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navbar-toggler {
    border: none;
    font-family: var(--font-family) !important;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    margin: auto;
    color: var(--black-color) !important;
    box-shadow: none !important;
  }
  .width-10 {
    width: 10%;
  }

  .width-70 {
    width: 40%;
  }

  .language-button {
    position: sticky;
    right: 2rem;
    top: 15px;
  }
}
